div(class="header")
    ul(class="header__list")
        li(class="header__list_home")
            a(href="#" id="main_link" class="header__list_home__link") Covenant
        li(class="header__list_signup")
            a(href="#" id="signup_link" class="header__list_signup__link") Sign Up
        li(class="header__list_login")
            a(href="#" id="login_link" class="header__list_login__link") Sign In
