div
	h1(class="title")="Profile"
	div(class="user-info__inner")
		div(class="user-info__aside")
			img(class="user-info__aside-img" src="img/brody_big.png" alt="")
		div(class="user-info__main")
			div(class="user-info__main-nick")="@adam228"
			div(class="user-info__main-email")="marshalityy@gmail.com"
			div(class="user-info__main-logout" id="logout-link")="Log Out"
