div
	h1(class="title")="Profile"
	div(class="user-info__inner")
		if user
			div(class="user-info__aside" id="avatar")
			div(class="user-info__main")
				div(class="user-info__main-nick")=`@${user.nickname}`
				div(class="user-info__main-email")=user.email
				if !anotherProfile
					div(class="user-info__main-logout" id="logout_link")="Log Out"
