div(class="wrapper wrapper-grid" id="wrapper")
	div(class="menu" id="menu")
	div(class="content-container content-container-grid")
		div(id="header")
		div(class="content" id="content")
			div(class="content-profile" id="content-profile")
				div(class="user-info" id="user-info")
				div(class="user-tabs" id="user-tabs")
div(class="player" id="player-id")
div(id="popup")