div(class="header" id="header")

div(class="container" id="container")
	div(class="container__profile")
		div(class="profile")
			div(class="avatar" id="avatar")

			div(class="info")
				div(class="info__user" id="info-user")
				div(class="info__buttons")
					div(class="info__buttons__shuffle")
						button( class="btn__shuffle" type="button")
							img(class="btn__shuffle__img" src="img/play_dark.png" width="32" height="32" alt="play")
							label(class="btn__shuffle__label") Shuffle

					div(class="info__buttons__settings")
						button(class="btn__settings" type="button")
							img(class="btn__shuffle__settings" src="img/settings_dark.png" width="32" height="32" alt="settings")

		if tabs
			div(class="music")
				ul(class="tabs")
					each tab, index in tabs
						li
							if index === 0
								input(type="radio" name="tabs" id="tab-"+index checked)
							else
								input(type="radio" name="tabs" id="tab-"+index)
							label(class="tab__label" for="tab-"+index) #{tab.name}
							div(class="tab-content") #{tab.text}

div(class="footer")
