div(class="content-cards")
	div(class="headline dark size-20 mb-20") Albums
	div(class="cards-container")
		if items.length > 0
			each item in items
				div(class="card-item__container")
					div(class="card-item__img")
						img(src=item.photo alt="" class="card-item__img-inner")
					div(class="card-item__title card-item__fix-width" id=`playlist-name-${item.id}`)=item.name
					div(class="card-item__subtitle card-item__fix-width")=item.artist
	div(id="pagination")