div(class="nav")
    div(class="nav_menu")
        div(class="nav_menu_item nav_menu_home")
            img(alt="home-icon" src="img/admin/home.png")
        div(class="nav_menu_item nav_menu_account")
            img(alt="account-icon" src="img/admin/account.png")
        div(class="nav_menu_item nav_menu_exit")
            img(alt="exit-icon" src="img/admin/exit.png")
    div(class="nav_list")
        each item in items
            div(id=item.id class="nav_list-item")=item.title