div(class="content-cards")
	h1(class="title")=title
	div(class="cards-container")
		div(class="card-item__container")
			div(class="card-item__img")
				div(class="card-item__img-inner card-item__img-new")
					div(class="plus-button" id="create-playlist-btn")
						img(class="plus-button__img" src="/img/plus.png" alt="")
		if items.length > 0
			each item in items
				div(class="card-item__container")
					div(class="card-item__img")
						img(src=item.photo alt="" class="card-item__img-inner")
						span(class="card-item__close" id="delete-playlist-btn-"+item.id) &times
					div(class="card-item__title card-item__fix-width")=item.name
					div(class="card-item__subtitle card-item__fix-width")=item.description