div(class="overlay")
	div(class="popup-container")
		span(class="close" id="popup-close-btn") &times
		h3(class="text-center")="Confirmation Dialog"
		div(class="popup__text")
			| Are you sure you want to remove playlist?
		div(class="popup__btn-row")
			button(type="button" class="btn-accent popup-btn" id="popup-save-btn")="Yes"
			button(type="button" class="btn-default popup-btn" id="popup-cancel-btn")="No"