div(class="artist-container-grid artist-page__artist-header" style=artist ? `background-image: url(${artist.photo});`: '')
	div(id="header")
	div(class="content")
		div(class="artist-page")
			div(class="artist-page__tracks-container" id="artist-track-list-id")
			div(class="artist-page__albums-container" id="artist-album-list-id")
