div(class="artist-container-grid" style=artist ? `background: url(${artist.photo}) center/contain no-repeat; background-position: top;`: '')
	div(id="header")
	div(class="content")
		div(class="artist-page")
			div(class="artist-page__tracks-container" id="artist-track-list-id")
			div(class="artist-page__albums-container" id="artist-album-list-id")
