div(class="search")
	div(class="search__img")
		div(class="search__img-container")
			img(class="search__img_size" src="/img/search-purple.png" alt="img")
	div(class="search__input" id="search-autocomplete-id")