div(class="home")
	div(class="home__albums-container" id="home-album-list-id")
	div(class="home__tracks-container" id="home-track-list-id")
	div(class="home__artists-container" id="home-artist-list-id")

