div(class="wrapper wrapper-grid" id="wrapper")
	div(class="menu" id="menu")
	div(class="content-container content-container-grid")
		div(id="header")
		div(class="content" id="content")
div(class="player player-grid")
div(id="popup")