div
	div(class="player__info")
		div(class="player__info-inner")
			div(class="player__track-logo")
				img(class="player__track-logo__img" src="./src/static/img/track.png" alt="track")
			div(class="player__track")
				div(class="player__track-block")
					div(class="track-name")="Bleeding out"
					div(class="artist-name")="Imagine Dragons"

				div(class="player__track-block")
					img(class="like" src="./src/static/img/heart_empty.png" alt="heart")
	div(class="player__control")
		div(class="player__control-block")
			div(class="controls")
				img(class="control-btn size-l" src="./src/static/img/shuffle.png" alt="shuffle")
				img(class="control-btn size-s" src="./src/static/img/prev.png" alt="prev")
				img(class="control-btn size-l" src="./src/static/img/play.png" alt="play")
				img(class="control-btn size-s" src="./src/static/img/next.png" alt="next")
				img(class="control-btn size-m" src="./src/static/img/repeat.png" alt="repeat")

			div(class="progress")
				div(class="secondary-progress")
					div(class="primary-progress")
	div(class="player__volume")
		div(class="player__volume-block")
			img(class="volume-img pull-right" src="./src/static/img/volume.png" alt="volume")

		div(class="player__volume-block volume-w")
			div(class="volume-progress pull-right")
				div(class="volume-primary-progress")