div(class="player-grid")
	div(class="player__info")
		if item
			div(class="player__column mr-10")
				div(class="player__column-container")
					img(class="player__track-logo" src=item.photo alt="")
			div(class="player__column mr-10")
				div(class="player__column-name")
					div(class="track-name")=item.name
					div(class="artist-name")=item.artist
			div(class="player__column")
				div(class="player__column-container")
					button(class="track__like")
						img(class="track__like-btn" src="/static/img/heart.png" alt="")
	div(class="player__control")
		div(class="player__control-block")
			div(class="controls")
				img(class="control-btn size-l" src="/static/img/shuffle.png" alt="" id="player-shuffle-btn")
				img(class="control-btn size-s" src="/static/img/prev.png" alt="" id="player-prev-btn")
				img(class="control-btn size-l" src="/static/img/triangle.png" alt="" id="player-play-btn")
				img(class="control-btn size-s" src="/static/img/next.png" alt="" id="player-next-btn")
				img(class="control-btn size-m" src="/static/img/repeat.png" alt="" id="player-repeat-btn")

			div(class="progress")
				div(class="secondary-progress")
					div(class="primary-progress")
	div(class="player__volume")
	//div(class="player__volume")
	//	div(class="player__volume-block")
	//		img(class="volume-img pull-right" src="/static/img/volume.png" alt="")
	//
	//	div(class="player__volume-block volume-w")
	//		div(class="volume-progress pull-right")
	//			div(class="volume-primary-progress")