div(class="header")
    ul(class="header__list")
        li(class="header__list_home")
            button(id="main_link" class="header__list_home__btn btn btn_without_border" type="button") Covenant

        li(class="header__list_signup")
           button(id="signup_link" class="header__list_signup__btn btn_without_border" type="button") Sign Up

        li(class="header__list_login")
            button(id="login_link" class="header__list_login__btn btn_without_border" type="button") Log In
