ddiv(class="tab-grid")
	div(class="tab-grid__column")
		each item in items
			div(class="tab-grid__item")
				div(class="track__avatar-container")
					div(class="track__avatar")
						div(class="track__avatar-img" style=`background: url(${item.photo}) no-repeat center/cover;` id=`playlist-avatar-${item.id}`)
				div(class="track__name-container")
					div(class="track__name")
						div(class="track__label" id=`playlist-href-${item.id}`)=item.name
						div(class="track__description")=`${item.description}`