include ../HeaderView/HeaderView.pug

div(class="container")

    form(class="login" id="login-form")
        h1(class="login__title") Log In

        div(class="login__email")
            label(class="login__email_label" for="login__email_input") E-mail
            input(class="login__email_input" id="login__email_input" name="login__email_input" type="text")

        div(class="login__password")
            label(class="login__password_label" for="login__password_input") Password
            input(class="login__password_input" id="login__password_input" name="login__password_input" type="password")


        div(class="login__submit")
            button(class="login__submit_button" type="submit") Log In


        div(class="login__addition")
            a(class="login__forgot_password" href="#") Forgot your password?
            a(class="login__registration" href="#") Don’t have an account?

include ../FooterView/FooterView.pug
