.header {
    background: var(--gray);
    position: absolute;
    width: 100%;
}

.header__list {
    list-style-type: none;
}

.header__list_home {
    float: left;
    font-family: var(--logo-font);
    font-size: 34px;
    color: var(--white);
}

.header__list_login, .header__list_signup,
.header__list_name, .header__list_avatar,
.header__list_logout {
    float: right;
    font-family: var(--main-font);
    font-size: 20px;
    color: var(--white);
}

.header__list_home__link {
    display: block;
    color: var(--white);
    text-align: center;
    padding: 5px 30px;
    text-decoration: none;
}

.header__list_signup__link, .header__list_login__link {
    display: block;
    color: var(--white);
    text-align: center;
    padding: 12px 30px;
    text-decoration: none;
}

.header__list_name__link {
    display: block;
    color: var(--white);
    text-align: center;
    padding: 12px 10px;
    text-decoration: none;
}

.header__list_avatar__link,
.header__list_logout__link {
    display: block;
    color: var(--white);
    text-align: center;
    padding: 5px 10px;
    text-decoration: none;
}